{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block navbar %}
<ul class="navbar-nav me-auto mb-2 mb-sm-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href=" {% url 'home' %} ">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shop' %}">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'blogs' %}">Blogs</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Floor and Bath Wash</a></li>
      <li><a class="dropdown-item" href="#">Mojo Bag & Miscellaneous</a></li>
      <li><a class="dropdown-item" href="#">Oils</a></li>
      <li><a class="dropdown-item" href="#">Powder</a></li>
      <li><a class="dropdown-item" href="#">Zippy's Special Kits</a></li>
      <li><a class="dropdown-item" href="#">Zippy's Candle Set</a></li>
      <li><a class="dropdown-item" href="#">Jewelry</a></li>
      <li><a class="dropdown-item" href="#">Candle & Incense</a></li>
      <li><a class="dropdown-item" href="#">Spray & Soaps</a></li>
      <li><a class="dropdown-item" href="#">Miscellaneous</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a></li>
      <li><a class="dropdown-item" href="{% url 'services' %}">My cart</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
    <ul class="dropdown-menu">
      {% if user.is_authenticated %}
      <li><a class="dropdown-item" href="">{{ user.username }}</a></li>
      {% if user.is_superuser %}
      <li><a class="dropdown-item" href="/admin" >Admin Panel</a></li>
      {% else %}
      <li><a class="dropdown-item" href=" {% url 'dashboard' %}">My Account</a></li>
      {% endif %}
      <li><a class="dropdown-item" href="{% url 'book' %}">Bookings</a></li>
      <li><a class="dropdown-item" href="{% url 'order' %}">Orders</a></li>
      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li><a class="dropdown-item" href="{% url 'loginlocal' %}">Login</a></li>
      <li><a class="dropdown-item" href="{% url 'signuplocal' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </li>
</ul>
{% endblock navbar %}

{% block maincontent %}
    <main>
      <div class="about-container">
        <h1>ABOUT US</h1>
        <div class="horizontal-line"></div>
        <h2>
          We are the premier source for all your spirtual, new age, occult and
          religious products.
        </h2>
        <p>
          <a href="Home.html">ZIPPY'S OCCULT SHOP</a> is both an online shop and
          a real magic store that you can visit. Family owned and operated Since
          1984, we are the premier source for all your Spiritual, New Age and
          Occult products. <br /><br />We offer the ultimate one-stop shop for
          all of your Spiritual needs and we pride ourselves on our top notch
          customer service. With over 5,000 Spiritual, New Age, Occult and
          Religious items, we are one of the largest in Canada. We carry a full
          line of spiritual supplies, including occult oils, incense, powders,
          candles, herbs, white sage, spiritual soaps, books, sprays, bath and
          floor wash, bath salt and perfumes. Everything you’ll need about those
          who cast magic spells, love spells, money spells, and protection
          spells in the African-American hoodoo, Pagan magick, and other
          Witchcraft traditions. <br /><br />
          We will continue to offer the highest quality spiritual products while
          ensuring that we remain your first choice for supplying all your
          needs. As your partner, we are committed to your continued business
          success.
        </p>
      </div>
    </main>
    <div class="heading">
      <h1>GET CONNECTED</h1>
    </div>
{% endblock maincontent %}
