{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}zippys occult shop{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}"> 

    <!-- head section of the html pages -->
    {% block head %}
    {% endblock head %}

  <!-- Custom styles for this template -->
  {% comment %} <link href="{% static 'styles/navbars.css' %}" rel="stylesheet"> {% endcomment %}
</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path
        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
      <path
        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path
        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
    </symbol>
  </svg>

  <header class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a href="{% url 'home' %}" class="logo">
        <img src="{%  static 'images/Logo.webp' %}">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        {% block navbar %}
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=" {% url 'home' %} ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs' %}">Blogs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'shop' %}">Floor and Bath Wash</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Mojo Bag & Miscellaneous</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Oils</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Powder</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Zippy's Special Kits</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Zippy's Candle Set</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Jewelry</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Candle & Incense</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Spray & Soaps</a></li>
              <li><a class="dropdown-item" href="{% url 'shop' %}">Miscellaneous</a></li>
            </ul>
          </li>
      <div class="icons">
        <div id="searchBar" class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="profile-icon">
          <button id="searchBtn">
            <img src="{% static 'images/search.PNG' %}" alt="Search" />
          </button>
        </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a></li>
              <li><a class="dropdown-item" href="{% url 'services' %}">My cart</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
            <ul class="dropdown-menu">
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="">{{ user.username }}</a></li>
              {% if user.is_superuser %}
              <li><a class="dropdown-item" href="/admin" >Admin Panel</a></li>
              {% else %}
              <li><a class="dropdown-item" href=" {% url 'dashboard' %}">My Account</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'book' %}">Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'order' %}">Orders</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'loginlocal' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'signuplocal' %}">Sign Up</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        {% endblock navbar %}

        <form role="search" class="mx-4">
          <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        </form>
        </ul>
      </div>
    </div>
    </div>
  </header>

  {% block maincontent %}
  {% endblock maincontent %}

  
{% block footercontent %}
    <footer>
      <!-- Social Media Icons -->
      <div class="social-media">
        <a href="#"
          ><img src=" {% static "images/facebook.png" %}" alt="Facebook"></a
        >
        <a href="#"
          ><img src=" {% static "images/twitter.png" %}" alt="Twitter"></a
        >
        <a href="#"
          ><img src=" {% static "images/instagram.png"%}" alt="Instagram"></a
        >
        <a href="#"
          ><img src= "{% static "images/linkedin.png" %}" alt="LinkedIn"></a
        >
        <a href="#"
          ><img src= "{% static "images/youtube.png" %} " alt="YouTube"></a
        >
        <a href="#"
          ><img src= "{% static "images/pinterest.png"%} " alt="Pinterest"></a
        >
      </div>

      <!-- Subscription Section -->
      <div class="subscribe">
        <h4>SUBSCRIBE</h4>
        <p>
          Get 10% off your first purchase when you sign up for our newsletter!
        </p>
        <div class="email-container">
          <input type="email" placeholder="Enter your email" />
          <button class="signup-button">Sign Up</button>
        </div>
      </div>

      <!-- Picture Gallery -->
      <div class="gallery">
        <img src="{% static "images/matches.webp" %}" alt="Gallery Image 1">
        <img src= "{% static "images/candles.webp" %}"alt="Gallery Image 2">
        <img src= "{% static "images/agrbtti.webp" %}"alt="Gallery Image 3">
        <img src= "{% static "images/table.webp" %}"alt="Gallery Image 3">
      </div>

      <!-- Copyright Notice -->
      <p style="color: #ccc; font-size: small">
        Copyright &copy; 2019 - All Rights Reserved
      </p>

      <!-- Privacy Policy and Terms and Conditions -->
      <div class="footer-links">
        <a href="{% url 'privacy' %}">Privacy Policy</a>
        <a href="{% url 'terms' %}">Terms and Conditions</a>
      </div>
    </footer>
{% endblock footercontent %}


{% block scriptcontent %}
{% endblock scriptcontent %}
<script src="{% static 'javascripts/bootstrap.bundle.min.js' %} "></script>

</body>

</html>