{% extends 'base.html' %}
{% load static %}

{% block title %}Blogs{% endblock title %}
{% block head %}
<link rel="stylesheet" href="">
{% endblock head %}

{% block navbar %}
<ul class="navbar-nav me-auto mb-2 mb-sm-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href=" {% url 'home' %} ">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shop' %}">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'blogs' %}">Blogs</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Floor and Bath Wash</a></li>
      <li><a class="dropdown-item" href="#">Mojo Bag & Miscellaneous</a></li>
      <li><a class="dropdown-item" href="#">Oils</a></li>
      <li><a class="dropdown-item" href="#">Powder</a></li>
      <li><a class="dropdown-item" href="#">Zippy's Special Kits</a></li>
      <li><a class="dropdown-item" href="#">Zippy's Candle Set</a></li>
      <li><a class="dropdown-item" href="#">Jewelry</a></li>
      <li><a class="dropdown-item" href="#">Candle & Incense</a></li>
      <li><a class="dropdown-item" href="#">Spray & Soaps</a></li>
      <li><a class="dropdown-item" href="#">Miscellaneous</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a></li>
      <li><a class="dropdown-item" href="{% url 'services' %}">My cart</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
    <ul class="dropdown-menu">
      {% if user.is_authenticated %}
      <li><a class="dropdown-item" href="">{{ user.username }}</a></li>
      {% if user.is_superuser %}
      <li><a class="dropdown-item" href="/admin" >Admin Panel</a></li>
      {% else %}
      <li><a class="dropdown-item" href=" {% url 'dashboard' %}">My Account</a></li>
      {% endif %}
      <li><a class="dropdown-item" href="{% url 'book' %}">Bookings</a></li>
      <li><a class="dropdown-item" href="{% url 'order' %}">Orders</a></li>
      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li><a class="dropdown-item" href="{% url 'loginlocal' %}">Login</a></li>
      <li><a class="dropdown-item" href="{% url 'signuplocal' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </li>
</ul>
{% endblock navbar %}

{% block maincontent %}
    <main>
      <div class="about-container">
        <h1>BLOGS</h1>
        <div class="horizontal-line"></div>
        <h2 style="color: red">FEATURE POSTS</h2>
        <div class="feature-blog">
          <img src="{% static 'images/relax.webp' %}" alt="Blog" />
          <div class="dscrpt">
            <h1>EFFECTIVE WAYS TO RELAX</h1>
            <p>
              With so many personal and professional commitments in our life, we
              often forget to take care of ourselves.Wondering how you can
              replenish your mind, body, and soul?Here are 3 effective ways to
              relax and breathe life into a new you: 1. Spiritual Candles
              <a href="Home.html">(Nft products)</a> What else would be our
              source of light and peace in …
            </p>
            <a href="#Blogs"><button class="blogBtn">Read More</button></a>
          </div>
        </div>
      </div>
    </main>

    <div class="heading" id="Blogs">
      <h1>MY BLOGS</h1>
    </div>

    <div class="blogs">
      <div class="blogs-container">
        <article id="relaxation">
          <img src="{% static 'images/powders.webp' %}" alt="Image 1" />
          <div class="articles">
            <p style="color: #888">August 26, 2022 | Relaxation</p>
            <h2 hre>3 Effective Ways To Relax With Occult Products</h2>
            <p>
              With so many personal and professional commitments in our life, we
              often forget to take care of ourselves.<br /><br />Wondering how
              you can replenish your mind, body, and soul with Occult Products ?
              Here are 3 effective ways to relax and breathe life into a new
              you:
            </p>
            <a href="Blog1.html#Blogs">Read more</a>
          </div>
        </article>

        <article id="candle-ritual">
          <img src="{% static 'images/candles.webp' %}" alt="Image 2" />
          <div class="articles">
            <p style="color: #888">August 26, 2022 | Candles Ritual</p>
            <h2>
              11 Steps Of Find Happiness From The Spiritual Candle Fire Ritual
            </h2>
            <p>
              Seven candles of certain colors are used in Buckland's traditional
              rite. Although there are many various schools of thought on candle
              colors, what matters is how we practice, not how particular we are
              about the colors or the equipment we use.
            </p>
            <a href="Blog2.html#Blogs">Read more</a>
          </div>
        </article>

        <!-- Add more articles for additional blog posts -->
      </div>

      <div class="filter-blogs">
        <h1>Categories</h1>
        <ul>
          <li>All Posts</li>
          <li>Candle Ritual</li>
          <li>Relaxation</li>
        </ul>
      </div>
    </div>

    <div class="heading">
      <h1>GET CONNECTED</h1>
    </div>
{% endblock maincontent %}
