.product-list {
    width: 200px;
    float: left;
    padding: 25px 20px 20px 0px;
    color: white;
}

.product-list ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.product-list ul li {
    display: list-item inline-block;
    padding: 10px;
    cursor: pointer;
}

.product-list ul li.active {
    color: red;
}

.product-list ul li:hover {
    background-color: red;
    transform: scale(1.06);
    transition: 0.3s;
    color: white;
    border-radius: 3px;
}

.pagination {
    clear: both;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination ul li {
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination ul li.page-number-active {
    background-color: red;
    color: #fff;
}

.pagination ul li:hover,
.pagination ul li.page-number-active:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.08);
}

.feature-products1 {
    padding-top: 15px;
    padding-bottom: 20px;
}

.product-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item1 {
    width: 20%;
    background-color: #383838;
    padding: 4px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.5);
    cursor: pointer;
    align-items: center;
}

.product-item1:hover {
    transition: 0.3s;
    transform: scale(1.06);
    opacity: 0.8;
}

.product-item1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #000;
}

.product-item1 h3 {
    font-size: medium;
    color: red;
}

.product-item1 p {
    font-size: small;
    color: rgb(255, 255, 255);
}

.hide {
    display: none;
}

@media (max-width: 480px) {
    main {
        padding: 50px 0%;
        display: block;
    }

    .feature-products1{
        padding-top: 0%;
    }

    .product-list {
        padding: 15px;
        margin: 0%;
    }

    .product-item1 {
        width: 90%;
        margin: 0px 2.5%;
    }

    .product-list ul li {
        font-size: x-small;
    }

    .product-container1 {
        justify-content: center;
    }

    .product-item1 img {
        height: 150px;
    }

    .product-item1 h3 {
        font-size: small;
    }

    .product-item1 p {
        font-size: x-small;
    }

    .pagination{
        margin-top: 0%;
    }
}

@media (max-width: 768px) {
    main {
        padding: 50px 0%;
    }

    .product-list {
        width: 100%;
        float: none;
    }

    .product-item1 {
        width: 30%;
        margin: 10px 1.5%;
        justify-content: space-between;
    }

    .product-list ul li {
        font-size: small;
    }

    .product-item1 img {
        height: 150px;
    }

    .product-item1 h3 {
        font-size: small;
    }

    .product-item1 p {
        font-size: x-small;
    }
}
