::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

*::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

header {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px 50px;
  font-weight: bold;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(34, 0, 0, 0.8), rgba(255, 17, 17, 0.8), rgba(255, 0, 0, 0.8));
}

.navbar{
  margin-bottom: 0% !important;
  width: 100%;
  top: 0%;
  z-index: 2;
  position: fixed;
}

.logo {
  width: 8%;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.active {
  border-bottom: 1px solid red;
  color: white !important;
}

.active:hover {
  border: none;
}

.mx-4{
  background-color: transparent !important;
  padding: 0%;
  margin: 0%;
  box-shadow: none !important;
  width: auto;
}

.form-control{
  background-color: white;
  color: black;
  width: 100%;
  margin: 0px 10px;
}

.form-control::placeholder{
  color: #383838;
}

.nav-item{
  margin-left: 5px;
  border-radius: 5px;
  margin-top: 2px;
}

.nav-link{
  padding-left: 10px;
    color: white !important;
}

.nav-item:hover{
  background-color: red;
  color: white !important;
  transform: scale(1.03);
  transition: 0.3s;
}

.dropdown-menu{
  background-color: rgb(0, 0, 0, 0.8);
  align-items: center;
}

.dropdown-item{
  color: white;
  margin-right: 10px;
}

.dropdown-item:hover{
  background-color: red;
  color: white !important;
}

/* Original styles */

.dashboard {
  display: flex;
}

.dashboard ul {
  width: 20%;
  padding: 0px 20px 0px 30px;
  border-right: 0.5px solid #888;
}

.dashboard ul li {
  list-style: none;
  margin-bottom: 20px;
  border-radius: 3px;
}

.dashboard ul li a {
  color: white;
  padding: 10px;
  width: 100%;
}

.active1 {
  background-color: red;
}

.dashboard ul li:hover {
  background-color: red;
  transform: scale(1.08);
  transition: 0.3s;
}

.user-details {
  margin-left: 30px;
  height: 300px;
}

.user-details p {
  padding: 0;
  margin-bottom: 10px;
}

.user-details button {
  margin-top: 10px;
  width: 110px;
  height: 40px;
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
}

.user-details button:hover {
  background-color: black;
  transform: scale(1.08);
  transition: 0.3s;
}

.user-details-edit {
  display: none;
  margin-left: 30px;
  height: 300px;
}

.user-details-edit input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

.user-details-edit button {
  margin-top: 10px;
  width: 110px;
  height: 40px;
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
}

.user-details-edit button:hover {
  background-color: black;
  transform: scale(1.08);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard ul {
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid white;
  }

  .dashboard ul li {
    margin-bottom: 10px;
    padding: -5px;
  }

  .user-details,
  .user-details-edit {
    margin-left: 0;
  }
}


.slideshow-container {
  margin: 0%;
  top: 0%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
}

.slide {
  display: none;
  width: 100%;
}

.slide img {
  width: 100%;
  height: 650px;
}

.fade {
  animation-name: fade;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.starting {
  position: relative;
  z-index: 1;
  padding: 25% 100px 200px 100px;
  font-weight: bold;
}

.starting h1 {
  color: white;
  font-size: xx-large;
  text-align: left;
  text-shadow: 2px 2px 0 #000000;
}

.starting p {
  font-size: medium;
  color: white;
}

.starting button {
  cursor: pointer;
  background-color: red;
  border: none;
  color: black;
  padding: 10px;
  margin-top: 10px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
}

.starting button a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: medium;
}

.starting button:hover {
  background-color: black;
  transform: scale(1.1);
}

.after-start {
  align-items: center;
  justify-content: center;
  padding: 35px 100px 20px 100px;
  text-align: center;
}

.after-start h1 {
  font-size: large;
  color: #ffffff;
}

.after-start p {
  color: white;
}

.after-start button {
  cursor: pointer;
  background-color: red;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.after-start button a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

.after-start button:hover {
  background-color: black;
  transform: scale(1.1);
}

.heading {
  display: inline-block;
  width: 100%;
  height: 85px;
  align-items: center;
  background: linear-gradient(to right, black, #220000, #e30000, red);
}

.heading h1 {
  font-weight: bold;
  display: block;
  color: white;
  padding-top: 15px;
}

.feature-products {
  padding-top: 15px;
  padding-bottom: 20px;
}

.filter-buttons {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 50px;
}

.filter-buttons button {
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  background: none;
}

.filter-buttons.active {
  color: red;
}

.filter-buttons button.active {
  color: red;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  width: 20%;
  background-color: #383838;
  padding: 5px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(163, 163, 163, 0.2);
  cursor: pointer;
}

.product-item:hover {
  transition: 0.3s;
  transform: scale(1.06);
  opacity: 0.8;
}

.product-item img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  background-color: #000;
}

.product-item h3 {
  font-size: medium;
  color: red;
}

.product-item p {
  font-size: small;
  color: rgb(255, 255, 255);
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .slide img{
    height: auto;
  }

  .starting {
    padding: 200px 50px;
  }

  .starting h1{
    text-shadow: none;
    font-size: xx-large;
    margin-bottom: 0%;
  }

  .starting p{
    font-weight: lighter;
  }

  .starting button {
    width: 100px;
  }

  .after-start {
    padding: 10px;
  }

  .product-item {
    width: 45%;
    margin: 5px;
  }

  .product-item img {
    height: 200px;
  }

  .heading {
    height: 60px;
  }

  .heading h1 {
    font-size: x-large;
  }
}

@media screen and (max-width: 576px) {
  .logo{
    width: 10%;
  }

  .slideshow-container{
    margin-top: 14%;
  }

  .starting {
    padding: 70px 30px 100px 30px;
  }

  .starting h1{
    text-shadow: none;
    font-size: x-large;
  }

  .starting p {
    font-size: small;
    font-weight: lighter;
  }

  .starting button {
    width: 100px;
    height: 40px;
    font-size: small;
    margin-top: 0%;
  }

  .after-start h1 {
    font-size: medium;
    margin-bottom: 0%;
  }

  .after-start p{
    font-size: small;
  }

  .product-item {
    width: 45%;
    margin: 5px;
    padding: 10px;
  }

  .product-item img {
    height: 150px;
  }

  .product-item h3 {
    font-size: small;
  }

  .product-item p {
    font-size: x-small;
  }

  .heading {
    height: 50px;
  }

  .heading h1 {
    font-size: x-large;
  }
}

.category-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.desc {
  display: block;
  align-items: center;
  text-align: center;
}

.desc h2 {
  font-weight: lighter;
  color: gold;
}

.desc p {
  color: white;
}

.category-item {
  width: 33%;
  text-align: center;
  margin: 20px;
}

.category-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.category-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(229, 255, 212);
}

.category-item p {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.category-item:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .category-container {
    flex-direction: column;
    align-items: center;
  }

  .category-item {
    width: 80%;
  }

  .category-item img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .category-item {
    width: 100%;
    margin: 10px;
  }

  .category-item img {
    width: 140px;
    height: 140px;
  }
}


h3 {
  margin: 0;
  color: #ff0000;
}

.active-shop {
  background-color: red;
  color: white;
  border-radius: 3px;
}

footer {
  background-color: black;
  padding: 20px 0;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social-media a {
  display: inline-block;
  margin: 0 15px;
}

.social-media a img {
  width: 20px;
  height: 20px;
}

.subscribe {
  margin-bottom: 10px;
}

.subscribe h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.subscribe p {
  margin: 0;
  color: #777;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.email-container input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.email-container .signup-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.email-container .signup-button:hover {
  background-color: #000000;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.gallery img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: red;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .social-media{
    display: block;
  }

  .subscribe h4 {
    font-size: 20px;
  }

  .email-container input[type="email"] {
    padding: 8px;
  }

  .email-container .signup-button {
    padding: 8px 15px;
  }

  .gallery img {
    width: 180px;
    height: 120px;
  }
}

@media (min-width: 1200px) {
  .social-media a {
    margin: 0 20px;
  }

  .social-media img{
    width: 10px;
    height: auto;
  }

  .email-container {
    flex-direction: row;
  }

  .email-container input[type="email"] {
    margin-right: 5px;
  }
}

.copy {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

main {
  padding: 10vw 10vw 5vw 10vw;
}

a {
  color: red;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  transform: scale(1.02);
}

.about-container {
  padding-top: 3%;
  display: block;
}

.about-container p {
  width: 100%;
  display: inline-block;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 10px;
}

h1 {
  color: #ff0000;
  font-size: 36px;
  margin-bottom: 20px;
  align-self: center;
  text-align: center;
}

h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}


.contact-icons div a {
  display: inline-block;
  color: red;
  text-decoration: none;
}

.contact-icons div a:hover {
  transform: scale(1.1);
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  width: 300px;
  height: auto;
}

.about-list {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  margin: 0;
  padding: 30px 20px 0px 20px;
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px 20px 150px;
}

.contact-icons div {
  text-align: center;
}

.contact-icons img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  object-fit: scale-down;
}

.contact-icons p {
  margin: 5px 0;
}

.cont {
  background-color: #383838;
  padding: 20px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

form {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 5px;
  color: rgb(0, 0, 0);
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  padding: 10px 16px;
  background-color: red;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  border-radius: 5px;
}

.privacy p {
  font-size: 12px;
  margin-top: 20px;
  color: #000;
}

.additional-info {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.additional-info h2 {
  color: white;
}

.additional-info p {
  color: white;
}

@media (max-width: 768px) {
  .contact-icons {
    flex-direction: column;
    padding: 20px;
  }

  .contact-icons div {
    margin-bottom: 15px;
  }

  .contact-icons img {
    width: 100px;
    height: 100px;
    padding: 3px;
    object-fit: scale-down;
  }

  .contact-form {
    flex-direction: column;
  }

  form {
    padding: 15px;
  }
}


.vertical-line {
  position: relative;
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: black;
}

.feature-blog {
  display: flex;
}

.feature-blog img {
  width: 50%;
  height: auto;
}

.dscrpt {
  display: block;
  color: white;
  margin-left: 35px;
}

.dscrpt h1 {
  font-weight: bold;
  font-size: x-large;
  color: white;
  margin-bottom: 0%;
  text-align: left;
}

.dscrpt p {
  color: white;
}

.blogBtn {
  background-color: red;
  width: 120px;
  height: 50px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
}

.blogBtn:hover {
  background-color: black;
  transform: scale(1.08);
}

.blogs {
  display: flex;
  padding: 40px;
  margin-right: 10px;
}

.blogs-container {
  display: block;
  border-right: 0.5px solid #888;
  padding: 20px;
  width: 80%;
}

article {
  display: flex;
  border-bottom: 0.5px solid #888;
  padding: 10px;
  cursor: pointer;
}

article img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.articles {
  padding: 0px 10px 0px 20px;
}

article h2 {
  font-size: 24px;
  margin: 10px 0;
  color: red;
}

article p {
  color: white;
}

.filter-blogs {
  width: 200px;
  float: right;
  padding: 25px 0px 20px 50px;
  color: white;
}

.filter-blogs ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.filter-blogs ul li {
  display: list-item inline-block;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.filter-blogs ul li.active {
  color: red;
}

.filter-blogs ul li:hover {
  background-color: red;
  transform: scale(1.06);
  transition: 0.3s;
  color: white;
  border-radius: 3px;
}

.read-more {
  padding: 20px 50px 10px 50px;
  display: flex;
}

.block {
  background-color: white;
  box-shadow: 2px #000;
  padding: 30px 50px;
  text-align: left;
  justify-content: left;
  width: 60%;
  border-right: 0.2px solid #555;
}

.block h2 {
  font-size: x-large;
  color: red;
}

.block img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.block h1 {
  text-align: left;
  color: black;
  font-size: xx-large;
}

.block p {
  color: #555;
}

.filter-blogs1 {
  width: 30%;
  float: right;
  padding: 25px 40px 20px 10px;
  background-color: white;
}

.filter-blogs1 h1 {
  font-size: larger;
  color: red;
  text-align: left;
}

.filter-blogs1 p {
  color: #555;
}

.filter-blogs1 ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.filter-blogs1 ul li {
  display: list-item inline-block;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  color: black;
}

.filter-blogs1 ul li.active {
  color: red;
}

.filter-blogs1 ul li:hover {
  background-color: red;
  transform: scale(1.06);
  transition: 0.3s;
  color: white;
  border-radius: 3px;
}

.recent {
  display: flex;
  cursor: pointer;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
}

.recent img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.recent-data {
  display: block;
}

.recent-data h1 {
  font-size: medium;
}

.recent-data p {
  font-size: small;
}

/* Original styles (unchanged) */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .feature-blog {
    flex-direction: column;
  }

  .feature-blog img {
    width: 100%;
  }

  .dscrpt {
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }

  .dscrpt h1 {
    text-align: center;
    margin: 10px 0;
  }

  .blogs {
    flex-direction: column;
    padding: 20px;
  }

  .blogs-container {
    width: 100%;
    padding: 10px;
    border-right: none;
  }

  article {
    flex-direction: column;
    padding: 10px 0;
  }

  article img {
    width: 100%;
    height: auto;
  }

  .articles {
    padding: 10px 20px;
  }

  article h2 {
    font-size: 20px;
    margin: 10px 0;
  }

  .filter-blogs {
    float: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .filter-blogs ul li {
    display: block;
    padding: 5px;
  }

  .block {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-right: none;
  }

  .filter-blogs1 {
    width: 100%;
    float: none;
    padding: 10px;
    background-color: transparent;
  }

  .filter-blogs1 h1 {
    text-align: center;
    margin: 10px 0;
  }

  .filter-blogs1 ul li {
    display: block;
    padding: 5px;
    text-align: center;
  }

  .recent {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .recent img {
    width: 80%;
    height: auto;
  }

  .recent-data {
    text-align: center;
    margin-top: 10px;
  }

  /* New styles for two blogs in one row */
  .blogs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .blogs-container {
    width: 100%;
    padding: 10px;
    border-right: none;
  }

  article {
    flex-basis: calc(50% - 10px); /* Two blogs in one row with spacing */
    margin-bottom: 20px;
    padding: 10px;
  }
}


@media screen and (max-width: 600px) {
  main {
    padding: 50px 20px;
  }
  
  .about-container {
    padding-top: 5%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    padding: 7vw 5vw;
  }
  
  .about-container {
    padding-top: 4%;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1025px) {
  main {
    padding: 120px 100px 50px 100px;
  }
}
